.container
  .row
    .col-12.text-center
      %h1.m-4 FAQ
    .col-12
      - @data.each do |_k, v|
        - start_open = @html_id == v['html_id']
        .faq-card.card.elevation-4.mb-4{id: v['html_id'], data: { controller: 'accordion' }}
          .card-header.flex.align-items-center.justify-content-between
            %h2.mb-0.mr-4= v['q']
            %button.toggle-btn.btn.btn-sm.btn-secondary(data-action="accordion#toggle")
              .toggle-btn-innards{'data-accordion-target': 'show', class: ('hidden' if start_open) }
                %strong= '+'
                %div Mas
              .toggle-btn-innards{'data-accordion-target': 'hide', class: ('hidden' unless start_open) }
                %strong= '-'
                %div Menos
          .collapse{'data-accordion-target': 'cardBody', class: ('show' if start_open)}
            .card-body
              .row
                .col-12.col-md-8
                  = v['a']
                .col-12.col-md-4.text-center
                  %iframe{src: "https://youtube.com/embed/#{v['youtube_id']}"}
